<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kanzar.networthtracker">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="32"/>

    <queries>
        <package android:name="com.google.android.gms" />
        <intent>
            <action android:name="com.google.android.gms.auth.api.signin.SERVICE_CONFIG_UPDATED" />
        </intent>
        <intent>
            <action android:name="com.google.android.gms.auth.api.identity.service.signin.START" />
        </intent>
        <intent>
            <action android:name="com.google.android.gms.auth.api.identity.service.authorization.START" />
        </intent>
        <intent>
            <action android:name="androidx.credentials.TYPE_PASSWORD_AUTHENTICATION" />
        </intent>
        <intent>
            <action android:name="androidx.credentials.TYPE_PASSKEY_AUTHENTICATION" />
        </intent>
    </queries>

    <application
        android:name="com.kanzar.networthtracker.CoreApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoActionBar">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name="com.kanzar.networthtracker.CommentActivity" android:exported="false"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.kanzar.networthtracker.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <activity
            android:name="com.kanzar.networthtracker.MainActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="file"/>
                <data android:scheme="content"/>
                <data android:mimeType="text/*"/>
            </intent-filter>
        </activity>

        <activity android:name="com.kanzar.networthtracker.MonthActivity" android:exported="false"/>
        <activity android:name="com.kanzar.networthtracker.ChartActivity" android:exported="false"/>
        <activity android:name="com.kanzar.networthtracker.AllocationActivity" android:exported="false"/>
        <activity android:name="com.kanzar.networthtracker.AssetTrendActivity" android:exported="false"/>
        <activity android:name="com.kanzar.networthtracker.SingleAssetTrendActivity" android:exported="false"/>
        <activity android:name="com.kanzar.networthtracker.GoalActivity" android:exported="false"/>
        <activity android:name="com.kanzar.networthtracker.PreferencesActivity" android:exported="false"/>

        <receiver
            android:name="com.kanzar.networthtracker.widget.OverviewWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/provider_overview_widget"/>
        </receiver>

    </application>
</manifest>
